[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "markstat"]
	path = markstat
	url = https://github.com/cran/markstat
[submodule "stlnpp"]
	path = stlnpp
	url = https://github.com/moradii/stlnpp
